pkgbase = mender-artifact
	pkgdesc = Mender.io utility to work with Mender Artifacts.
	pkgver = 3.11.2
	pkgrel = 1
	url = https://docs.mender.io/downloads#mender-artifact
	arch = i686
	arch = x86_64
	license = GPL3
	provides = mender-artifact
	conflicts = mender-artifact
	source = mender-artifact::https://downloads.mender.io/mender-artifact/3.11.2/linux/mender-artifact
	sha256sums = 2e7c58a5cf361d813649da9cf28afc9a77841bb0a8fd892a03eb58660b71b9a5

pkgname = mender-artifact
